<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Test_Classes.Post_Tc1"/>
      <class name="Test_Classes.Retry_PutTc1"/>
      <class name="Test_Classes.Put_Tc1"/>
      <class name="Test_Classes.Patch_Tc1"/>
      <class name="Test_Classes.Retry_PostTc1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
